<!DOCTYPE html>
<html>
<head>
<title>My first Vue page</title>
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/mystyle.css">
<link rel="stylesheet" href="css/bind.css">
<link rel="stylesheet" href="css/images.css?version=0.1">
<link rel="stylesheet" href="css/shopping.css?version=0.1">   
</head>
<body>
 
    <h1>Personal Profile Web page</h1>
    <p>
    <br>About Me
    <br>(Do not Include birthdate / age / contact information)
    <br>Education / Acheivements:
    <br>Graduated in Pasay City West Highschool with an NC II certification in Animation
    <br>Course: Computer Science with Specialization in Software
    <br>IT Experience:
    <br>I learned programming, animation, and building and repairing a pc in Senior Highschool
    <br>Hobbies and Interests:
    <br>Gaming, animation, and building and repairing a pc
    <br>Goals in Life / Dream
    <br>To make a game people will appreciate
    <br>Picture Gallery:
    <img src="https://raw.githubusercontent.com/mqsy2/WEBPROGSS231-personal-website/refs/heads/main/images/image1.jpg" alt="My Hobby" width="256" height="120">
    <img src="https://raw.githubusercontent.com/mqsy2/WEBPROGSS231-personal-website/refs/heads/main/images/image2.jpg" alt="My Hobby2" width="256" height="120">
    </body>
    </p>
    <h1>Demo Javascript in Body</h1>
    <p id="demo">A Paragraph</p>
    
    <button type="button" onclick="myFunction()">Function 1</button>
    <br> 
    <button type="button" onclick="myFunction2()">Function 2</button>
    
    <script 
    location.reload();
    src="js/myScript.js">
    </script>

 
<div id="app">
  {{ message }} <br>
  {{'Random number: ' + Math.ceil(Math.random()*6) }}
   <div v-bind:class="vueClass">This element is bound to the "pinkBG" class.
   </div>
</div>
 
<div id="app2">
 <div>
  <figure v-for="x in manyFoods">
   <img v-bind:src="x.url">
   <figcaption>{{ x.name }}</figcaption>
  </figure>
 </div>
</div>

<div id="app3">
<form v-on:submit.prevent="addItem">
<p>
      What do you need? <br>
<input type="text" required placeholder="item name.." v-model="itemName">
</p>
<p>
      How many? <br>
<input type="number" placeholder="number of items.." v-model="itemNumber">
</p>
<p>
      Important?
<label>
<input type="checkbox" v-model="itemImportant">
        {{ itemImportant }}
</label>
</p>
<button type="submit">Add item</button>
</form>
<br>
<hr>
 
  <div>
<p><strong>Shopping list:</strong></p>
<ul id="ulToFind">
<li 
        v-for="item in shoppingList" 
        v-bind:class="{ impClass: item.important }"
        v-on:click="item.found=!item.found"
        v-show="!item.found">
          {{ item.name }}, {{ item.number}}
</li>
</ul>
<ul id="ulFound">
<li 
        v-for="item in shoppingList" 
        v-bind:class="{ impClass: item.important }"
        v-on:click="item.found=!item.found"
        v-show="item.found">
          {{ item.name }}, {{ item.number}}
</li>
</ul>
</div>
</div>
 
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="js/vue.js"></script>
<script src="js/images.js"></script>
<script src="js/shopping.js"></script>


 
</body>
</html>
